.notice-tune__input {
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 15px;
    margin: 10px 0;
}

.notice-tune__content {
    display: none;
    margin-top: 1.5em;
}

.notice-tune--info .notice-tune__content,
.notice-tune--warning .notice-tune__content,
.notice-tune--spoiler .notice-tune__content {
    display: block;
}

.notice-tune--info + .notice-tune--info .notice-tune__content,
.notice-tune--warning + .notice-tune--warning .notice-tune__content,
.notice-tune--spoiler + .notice-tune--spoiler .notice-tune__content {
    display: none;
}

.notice-tune--info .notice-tune__wrapper {
    /*background-image: linear-gradient(to right, #5cb6ff, #5cb6ff);
    background-size: 10px 100%;
    background-repeat: no-repeat;*/
    border-left: 10px solid #5cb6ff;
    padding-left: 12px;
}

.notice-tune--info .notice-tune__input {
    border-color: #5cb6ff;
}

.notice-tune--warning .notice-tune__wrapper {
    border-left: 10px solid #ffd025;
    padding-left: 12px;
}

.notice-tune--warning .notice-tune__input {
    border-color: #ffd025;
}

.notice-tune--spoiler .notice-tune__wrapper {
    border-left: 10px solid #424242;
    padding-left: 12px;
}

.notice-tune--spoiler .notice-tune__input {
    border-color: #424242;
}